Babel
certifi
chardet
coreapi
coreschema
coverage
Django
django-colorfield
django-cors-headers
django-daterange-filter
django-jenkins
django-phonenumber-field
django-rest-auth
djangorestframework
djangorestframework-jwt
envdir
gunicorn
idna
itypes
Jinja2
jslint
MarkupSafe
pep8
phonenumbers
phonenumberslite
Pillow
psycopg2-binary
pyflakes
PyJWT
pytz
requests
six
sqlparse
uritemplate
urllib3
