Babel==2.3.4
Django==1.9.6
django-colorfield==0.1.12
django-phonenumber-field==1.1.0
django-rest-auth==0.9.1
djangorestframework==3.6.3
envdir==0.7
phonenumberslite==7.4.4
Pillow==3.2.0
pytz==2016.4
six==1.10.0
