Babel==2.3.4
certifi==2017.4.17
chardet==3.0.4
coreapi==2.3.1
coreschema==0.0.4
Django==1.9.6
django-colorfield==0.1.12
django-cors-headers==2.1.0
django-phonenumber-field==1.1.0
django-rest-auth==0.9.1
djangorestframework==3.6.3
djangorestframework-jwt==1.11.0
envdir==0.7
idna==2.5
itypes==1.1.0
Jinja2==2.9.6
MarkupSafe==1.0
phonenumberslite==7.4.4
Pillow==3.2.0
PyJWT==1.5.2
pytz==2016.4
requests==2.18.1
six==1.10.0
uritemplate==3.0.0
urllib3==1.21.1
